@model Product
<h1>Delete product</h1>

<form method="post">
	<div>
<label asp-for="Title"></label>
<input asp-for="Title" disabled type="text" />

</div>

<div>
<label asp-for="Description"></label>
<input asp-for="Description" disabled type="text" />

</div>


<div>
<label asp-for="ListPrice"></label>
<input asp-for="ListPrice" disabled type="text" />

</div>


	<button>Delete</button>
	<a asp-controller="Product" asp-action="Index">
		Back to list
	</a>
</form>
